
        <p>
            <label for="id_about_yourself">About yourself
                <textarea name="about_yourself" id="id_about_yourself" placeholder="Enter some information about yourself" rows="10" cols="20"></textarea>
            </label>
        </p>
        <p>
            <label for="id_in_web">You in web
                <input type="url" name="in_web" id="id_in_web" placeholder="Enter URL" />
            </label>
        </p>
        <p>
            <label for="id_gender">Gender
                <select name="gender" id="id_gender">
                    <option value="man" selected>Man</option>
                    <option value="man">Woman</option>
                </select>
            </label>
        </p>
        <p>
            <label for="id_birthday">Date birthday
                <input type="date" name="birthday" id="id_birthday" placeholder="Choice">
            </label>
        </p>
        <p>
            <label for="id_color">Your favorite color
                <input type="color" name="color" id="id_color">
            </label>
        </p>
